<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/login.css">
</head>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" >
      <a class="navbar-item" href="/">
        <!-- <span style="font-size: 1em;"> -->
          <i class="fas fa-running"></i>  
        <!-- </span> -->
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">   
          Home
        </a>
  
        <a class="navbar-item" href="/discover">
          Discover
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable ">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if (!loggedIn) { %>
            <a href = "/profile">
              <img src = "img/profile_icon.png">
            </a>
            <button class="button is-white is-outlined" id="register">
              <strong>Sign up</strong>
            </button>
              <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                <strong>Sign In</strong>
              </button>
              <div id="id01" class="modal">
                <form class="modal-content animate" action="./login" method="POST">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <!-- <img src="file/location" alt="Avatar" class="avatar"> -->
                  </div>

                  <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                  </div>

                  <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="password">Forgot <a href="#">password?</a></span>
                  </div>
                </form>
              </div>
            </a>
            <% } else { %>
              <form action="/logout" method="POST">
                <button class="button iswhite is-outlined" type="submit" id="logout">
                  <strong>Logout</strong>
                </button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%- include('../partials/signupModal.ejs')  %>


  <script>
    $(".navbar-burger").click(function() {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
      // $("#register").css("background-color", "turquoise")
    });

    //Login Modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>