<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--        <link rel="stylesheet" href="/css/logout.css">-->
        <script>
            window.setTimeout(function(){
                window.location.href="/";
            }, 3500);
        </script>
    </head>
<body>
    <div>You have successfully logged out</div>
    <div>Returning to the home page</div>
    Click for home page.
    <a class="button is-white is-outlined" href="/">
        <strong>Home</strong>
    </a>

<%- include('./partials/footer.ejs') %>